.banner-principal-decorativo
  &-1
    animation: cloud 4.5s linear infinite 
    position: absolute
    top: 28.5%
    right: 82%
  &-2
    animation: cloud 4.8s linear infinite 
    position: absolute
    top: 2%
    right: 55%
  &-3
    animation: cloud 4.5s linear infinite 
    position: absolute
    top: 38%
    right: 24%
@keyframes cloud
  0%
    opacity: 0
    transform: translateX(0px)  
  80%
    opacity: 1
    transform: translateX(28px)  
  100%
    opacity: 0
    transform: translateX(30px)


.banner-interno__fondo    
  background-image: url("../assets/curso/portada/mini-portada.jpg") !important
  background-repeat: no-repeat
.fa-ul
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 7px
      font-size: 1.4rem  
.lista-ul--color.color-primario li > i:first-of-type  
  color: $color-primario
.lista-ul--color.color-secundario li > i:first-of-type  
  color: $color-secundario 
.lista-ul--color.color-new li > i:first-of-type  
  color: #667B07
.lista-ul--color.color-new2 li > i:first-of-type  
  color: #245670

@media (max-width: $bp-max-xs)
  .banner-principal .tarjeta
    min-height: 470px
  .slyder-a__bullets__item
    margin: 0 4px

.bgc-1
  background-image: url("../assets/curso/temas/t1/bgc1.png")
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  border-radius: 30px
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.bgc-2
  background-image: url("../assets/curso/temas/t1/bgc2.png")
  background-position: center
  background-size: 100% 60%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  border-radius: 30px
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.bgc-3
  background-image: url("../assets/curso/temas/t3/bgc3.png")
  background-position: center
  background-size: 100% 60%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  border-radius: 30px
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.bgc-4
  background-image: url("../assets/curso/temas/t5/bgc4.png")
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.bgc-5
  background-image: url("../assets/curso/temas/t5/bg-slider.png")
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  border-radius: 30px
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.bg1
  background-color: #EAEFCE
.bg2
  background-color: #EBF6FC 
.bg3
  background-color: #B5DEF3
.bg4
  background-color: #D3DF9C
.bg5
  background-color: #C7EFF5 !important
.bg6
  background-color:#DAF2E4
.bg7
  background-color: #fff5ee 
.bg8
  background-color: #FDFCEF


.tit-tercer
  position: relative
  img
    z-index: 5
    position: relative
  .texto
    position: relative  
    background-color: #F9F0B1
    margin-left: -10px
    z-index: 2
    h3
      padding: 6px 0px 6px 25px
    &:before 
      position: absolute
      content: ''
      background-color: #F9F0B1
      right: -4px
      transform: translate(35%,-50%) rotate(45deg)
      display: block
      top: 50%
      width: 26px
      height: 26px
      z-index: -1
.pregunta
  background-color: #FFA869
  border-radius: 11px
  h2
    text-align: center

.border-b
  border-bottom-left-radius: 23px
  border-bottom-right-radius: 23px

.acord1  
  .acordion__accion__btn--a
    background-color: #FFA700
    i
      color: #FFF !important
  .acordion__activo
    background-color: #DAEEF9
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #FFA700
  opacity: 0.9
  border-color: #FFA700
.slyder-a__bullets__item
  background-color: #F6CDAE
  border-color: #F6CDAE
.slyder-a__bullets__item--active
  background-color: #F37E29
  border-color: #F37E29
.tarjeta--slider
  background-color: rgba(255, 255, 255, 0.95)
.tabs-c__tab--active span
  font-weight: bold
.tabs-c__header
  margin-bottom: 0px

.tarjeta-t1
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  min-height: 117px
  .num
    position: absolute
    top: -35px
    width: 60px
    height: 60px
    background-color: #F37E29
    display: flex
    justify-content: center
    align-items: center
    border-radius: 100%
    border: 6px solid #6499B5
    box-shadow: 0px 0px 0px 4px #98BBCE
    span
      font-size: 32px
      font-weight: bold
.tarjeta-t4
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  transition: all 0.3s ease-out
  .num
    width: 89px
    height: 89px
    background-color: #FFF
    display: flex
    justify-content: center
    align-items: center
    border-radius: 100%
    span
      font-size: 45px
      color: #495705
      font-weight: bold
  h4
    background-color: #FFF
    width: fit-content
    padding: 0px 8px
  &:hover
    background-color: #D3DF9C
    transition: all 0.3s ease-out

ol.text-color span
  color: $color-sistema-texto
  font-weight: bold
h3.text-conect
  color: #FFF    
  background-color: #A8571C
  width: fit-content
  padding: 0px 8px

// TARJETA HOVER TEMA 2-2    
.nav-holder2
  display: inline-block
  overflow: hidden
  position: relative
  border-radius: 25px
  -webkit-transform: translateZ(0)
  -moz-transform: translateZ(0)
  transform: translateZ(0)
.nav-holder2 *, .nav-holder2 *:before, .nav-holder2 *:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-transition: all 0.45s ease
  -moz-transition: all 0.45s ease
  transition: all 0.45s ease
.nav-holder2:before
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  content: ''
  background-color: #2D4E78
  opacity: 1
  z-index: 888
  -webkit-transition: all 0.45s ease
  -moz-transition: all 0.45s ease
  -ms-transition: all 0.45s ease
  transition: all 0.45s ease
  -webkit-transform: translateY(80%)
  -moz-transform: translateY(80%)
  transform: translateY(80%)
.nav-holder2:hover:before
  -webkit-transform: translateY(40%)
  -moz-transform: translateY(40%)
  transform: translateY(40%)
  opacity: 1
  -webkit-transition-delay: 0.1s
  -moz-transition-delay: 0.1s
  transition-delay: 0.1s
  background-color: #B5DEF3
.nav-holder2
  .text
    position: absolute
    top: 70%
    bottom: 0px
    left: 0px
    right: 0px
    z-index: 999
    bottom: 0
    padding: 1em
  img
    backface-visibility: hidden
    max-width: 100%
    vertical-align: top
    z-index: 0
  p
    margin: 0
    opacity: 0
    line-height: 1.2em
.nav-holder2 h4
  margin: 0
  opacity: 1
  color: #FFF
.nav-holder2:hover
  .text
    top: 30%
  h4, p
    opacity: 1
    color: $color-sistema-texto
@media (max-width: $bp-max-xs)    
  .nav-holder2 .text
    top: 75%
  .nav-holder2:hover .text 
    top: 24%
  .nav-holder2:hover:before
    -webkit-transform: translateY(30%)
    -moz-transform: translateY(30%)
    transform: translateY(30%)